.app-name {
  border: solid red 2px;
  text-align: center;
  width: auto;
}

.card-preview {
  background: teal;
  width: auto;
  height: 150px;
  color: white;
  text-align: center;
  border: black 2px solid;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
}



.nav {
  width: 100px;
  height: 50px;
  color: blue;
}

#logout {
  color: blue;
}

button:hover {
  color: black;

}

body {
  background-color: aqua;
  height: max-content;
}