/* .app-name {
  border: solid red 2px;
  text-align: center;
  width: auto;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
}

.nav {
  width: 100px;
  height: 50px;
  color: blue;
}

#logout {
  color: blue;
}

button:hover {
  color: black;

}

body {
  background-color: rgb(215, 215, 215);
  height: max-content;
} */